# Local defaults (Leave these commented out for local Docker development)

# PORT=3001
# MONGO_URI=mongodb://localhost:27017/tracking-app

# KAFKA_BROKERS=localhost:9092
# KAFKA_USERNAME=
# KAFKA_PASSWORD=

# --- PRODUCTION CLOUD SETTINGS EXAMPLE ---
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/tracking-app
# KAFKA_BROKERS=pkc-xyz12.us-east-1.aws.confluent.cloud:9092
# KAFKA_USERNAME=<confluent-api-key>
# KAFKA_PASSWORD=<confluent-api-secret>